# Node / Angular
**/node_modules/
**/.angular/
**/dist/
**/tmp/
**/out-tsc/
**/.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Django
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment files
.env
.env.local

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
